body {
    background-color: rgba(203, 193, 193, 0.82);
    margin-left: 40px;
}

.box {
    border: 3px solid black;
    border-radius: 10px;
    filter: brightness(75%);
}

.home {
    height: 75px;
    width: auto;
}

.center {
    text-align: center;
}

#title {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#title_underline {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

#userInput {
    margin-left: 40px;
    width: 130px;
}

#navbar {
    text-align: center;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}


.title-Paragraph {
    text-align: center;
    font-style: oblique;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: medium;
    text-decoration: underline;
}

.main-paragraph {
    padding-left: 40px;
    padding-right: 40px;
    font-style: oblique;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: medium;
}

#progress {
    padding-left: 40px;
    padding-right: 40px;
    font-style: oblique;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: medium;
}

#clicker_gameplay {
    padding-left: 40px;
    padding-right: 40px;
    font-style: oblique;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: medium;
}

#troll a:link {
    color: red;
}

#troll a:hover {
    color: red;
}

#troll a:visited {
    color: red;
}

#troll a:active {
    color: red;
}

#troll {
    color: red;
    text-decoration: none;
    text-align: center;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

#output {
    padding-left: 40px;
    padding-right: 40px;
    font-style: oblique;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: medium;
}

.footer-paragraph {
    padding-left: 40px;
    font-style: oblique;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: medium;
    text-align: center;
}

.cookie {
    margin-right: 50%;
    margin-left: 25%;
    height: 250px;
    width: auto;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.cookie:active {
    transform: scale(0.8);
}

body.dark-mode {
    background-color: rgba(9, 8, 8, 0.74);
    color: rgba(255, 255, 255, 0.82);
}

body.dark-mode a {
    color: rgba(0, 0, 0, 0.82);
}

button {
    margin-left: 40px;
    padding: 10px 20px;
    border: 2px solid rgba(100, 133, 150, 0.57);
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(29, 124, 168, 0.57);
}